HEALTH_SERVICE_SERVICES_JSON_PATH=/path/to/your/services.json
HEALTH_SERVICE_REQUEST_INTERVAL=3
HEALTH_SERVICE_LOG_FILE_PATH=/path/to/your/health_service.log

TZ=Europe/Moscow
APP_FOLDER=/app
BUILD_TYPE=Release