# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# vscode
.vscode/

# QT
*.pro.user
*.pro.user.*
*.moc*
moc_*
*.qrc
*.qmake.stash
Makefile*
target_wrapper.sh

#project files
build
build/*
notification_server
server.conf
*.db

# CMake
CMakeCache.txt
CMakeFiles/
CMakeLists.txt.user
CMakeLists.txt.user.json
CMakeLists.txt.user.jsonc

# Userver
*.userver.*
*.userver.yaml

# Userver build directory
build/

# hidden folders
.*/